.idea/
.DS_Store
.vscode/

# Design documents
campus_gaffer_design*.pdf
campus_gaffer_design*.docx

# JSON files
*.json

# Claude
.claude/

# Compiled scripts
campus-gaffer-backend/clean_game_stats
__pycache__/

# Dev files
data/*.cleaned.*