DATABASE_URL='postgresql://neondb_owner:password@localhost/neondb'
DATABASE_DEV_URL='postgresql://neondb_owner:password@localhost/neondb'
USE_MOCK_SCRAPER=false
ApiTokenForSPA=your_api_token_here
ASP.NET_SessionId=your_session_id_here